body {
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
    color: black;
}

.section {
    background-color: #ff7b54;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-top: 0;
    color: black;
}

.section p, .section ul {
    color: black;
}

.cancel-button {
    text-align: center;
    margin-top: 20px;
}

.cancel-button button {
    background-color: #ff7b54;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cancel-button button:hover {
    background-color: #d6563c;
}
